{% extends "base.html" %}
{% set active_page = "TODO" %}
{% block content %}

<h1>All restaurants</h1>

	<div class="">
		<a href="{{url_for('routes.newRestaurant')}}">
		New restaurant
	</a>

{% for r in restaurants %}

<div>

    <div class = 'name'>
		<p>{{r.name}}</p>
	</div>

	</div>

	<div class="">
		<a href="{{url_for('routes.showRestaurant', restaurant_id = r.id)}}">
		View menu
	</a>

	<div class="">
		<a href="{{url_for('routes.editRestaurant', restaurant_id = r.id)}}">
		Edit
	</a>

	</br>

	<a href="{{url_for('routes.deleteRestaurant', restaurant_id = r.id)}}">
		Delete
	</a>

	</br>
	</br>

</div>

{% endfor %}


{% endblock %}